.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.errorCode {
  font-size: 50px;
  font-weight: 600;
}
.errorInfo {
  font-size: 24px;
  font-weight: 500;
}

.backButton {
  text-decoration: none;
  color: var(--white-color);
}
