:root {
  /* Light Theme */
  --header-light: #1f2a40;
  --primary-blue-light: #2a6ef2;
  --primary-blue-hover-light: #184bb1;
  --background-main-light: #ffffff;
  --background-secondary-light: #f5f7fa;
  --text-primary-light: #1a1a1a;
  --text-secondary-light: #555d65;
  --border-light: #dde3eb;
  --success-light: #3dbe8b;

  /* Dark Theme */
  --header-dark: #101621;
  --primary-blue-dark: #3c82f6;
  --primary-blue-hover-dark: rgb(23, 62, 141);
  --background-main-dark: #121821;
  --background-secondary-dark: #1e2630;
  --text-primary-dark: #ffffff;
  --text-secondary-dark: #c3c8d0;
  --border-dark: #2c3744;
  --success-dark: #4fd1a3;
}
