.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-container input {
  height: 35px;
  border-radius: 8px;
  border: 2px solid rgb(237, 237, 237);
  padding: 0 8px;
}

.input-container label {
  font-weight: 600;
}
